<form method="POST" action="/characters/create-character">
    <label>Name of character</label><input type="text"></input>
    <label>Occupation:</label><input type="text"></input>
    <label>Weapon:</label><input type="text"></input>
    <button type="submit">Submit</button>
</form>