<h2>Characters List</h2>

<ul>
  <% characters.forEach(character => { %>
  <li><a href="/characters/<%- character.id %>"> <%= character.name %> </a></li>
  <% }) %>
  <a href="/characters/create-character">Create character</a>
</ul>
